/* styles.css */

body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    background-image: url('images/background3.jpg'); /* Cambia 'tu_imagen.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: row; /* Establecer dirección de la columna para apilar elementos verticalmente */
    min-height: 100vh;
}

.topbar {
    width: 800px; /* Ajusta el ancho de la topbar según tus necesidades */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.topbar-text {
    color: #ccc5b9cf;
    padding: 20px;
    text-align: center;
    border-radius: 5px; /* Bordes redondeados */
}

.topbar-text img {
    max-width: 100%; 
    margin-bottom: 10px; 
    height: auto;
    width: 200px;
    border-radius: 5px;
}

.container {
    max-width: 960px;
    padding: 20px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #293241FA;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    width: 710px; /* Ajusta el ancho de la topbar según tus necesidades */    overflow-y: auto; /* Agregado para permitir el scroll dentro del encabezado */
    flex-direction: column;
    justify-content: left;
}

.header h1 {
    margin: 0;
}

.header i {
    font-size: 2.5em;
}

.main-content {
    padding: 20px 0;
}

.knowledge-section,
.personal-section,
.ambitions-section {
    background-color: #2f3e46fa;
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    margin-left: 900px; /* Añadir margen a la izquierda para evitar la superposición con la top bar */
    margin-bottom: 10px; /* Espacio entre secciones */
    max-width: 600px;
    width: 100%;
    flex: 1;
    text-align: center;
}

.knowledge-section ol,
.personal-section ol,
.ambitions-section ol {
    column-count: 2;
    list-style: none;
    padding: 0;
    margin: 0;
}

.knowledge-section i,
.personal-section i,
.ambitions-section i {
    font-size: 3.5em; /* Tamaño más grande para los íconos en las secciones */
}

.knowledge-section ul,
.personal-section ul,
.ambitions-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.knowledge-section li,
.personal-section li,
.ambitions-section li {
    font-size: 23px;
    display: flex; /* Mostrar elementos en línea para centrar el ícono verticalmente */
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Aumentar el espacio entre elementos listados */
    background-color: #eb5e28;
    border-radius: 3px;
}

.knowledge-section li i,
.personal-section li i,
.ambitions-section li i {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.bottom-bar {
    background-color: #293241;
    padding: 10px 0;
    text-align: center;
    width: 225px;
    position: fixed;
    right: 0;
    height: 100vh;
    overflow-y: auto;
}

.bottom-bar i {
    font-size: 1.5em; /* Tamaño más grande para los íconos en la barra inferior */
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
}

.footer p {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 35px;
}

a:hover {
    border-bottom: 2px solid white;
}
