/* styles.css */

body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    background-image: url('images/background3.jpg');
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
    overflow-x: hidden;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.topbar {
    max-width: 50rem; /* Cambiado de px a rem */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 14.5rem;
    position: fixed;
}

.topbar-text {
    color: #ccc5b9cf;
    padding: 1.25rem; /* Cambiado de px a rem */
    text-align: center;
    border-radius: 0.3125rem; /* Cambiado de px a rem */
}

.topbar-text img {
    max-width: 12.5rem;
    margin-bottom: 1rem; /* Cambiado de px a rem */
    height: auto;
    border-radius: 0.3125rem;
}

.container {
    max-width: 60rem;
    padding: 1.25rem;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #252422FA;
    padding: 1.25rem;
    text-align: center;
    border-radius: 0.3125rem;
    max-width: 44.375rem; /* Cambiado de px a rem */
    overflow-y: auto;
    flex-direction: column;
    justify-content: left;
}

.header h1 {
    margin: 0;
}

.header i {
    font-size: 2.5rem; /* Cambiado de px a rem */
}

.main-content {
    padding: 1.25rem 0;
}

.knowledge-section,
.personal-section,
.aboutme-section,
.ambitions-section {
    background-color: #403d39fa;
    padding: 1.25rem;
    border-radius: 0.625rem; /* Cambiado de px a rem */
    margin-left: 56.25em; /* Cambiado de px a rem */
    margin-bottom: 1.25rem; /* Cambiado de px a rem */
    max-width: 37.5rem; /* Cambiado de px a rem */
    width: 100%;
    flex: 1;
    text-align: center;
}

.knowledge-section ol,
.personal-section ol,
.ambitions-section ol {
    column-count: 2;
    list-style: none;
    padding: 0;
    margin: 0;
}

.knowledge-section i,
.personal-section i,
.aboutme-section i,
.ambitions-section i {
    font-size: 3.5rem; /* Cambiado de px a rem */
}

.knowledge-section ul,
.personal-section ul,
.ambitions-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.knowledge-section li,
.personal-section li,
.ambitions-section li {
    font-size: 1.4375rem; /* Cambiado de px a rem */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem; /* Cambiado de px a rem */
    background-color: #eb5e28;
    border-radius: 0.1875rem; /* Cambiado de px a rem */
}

.knowledge-section li i,
.personal-section li i,
.ambitions-section li i {
    margin-right: 0.625rem; /* Cambiado de px a rem */
}

.bottom-bar {
    background-color: #252422;
    padding: 0.625rem 0;
    text-align: center;
    max-width: 14.0625rem; /* Cambiado de px a rem */
    position: fixed;
    right: 0;
    height: 100vh;
    overflow-y: auto;
}

.bottom-bar i {
    font-size: 1.5rem;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.language-selector {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}
.language-selector button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Sans Seriff', monospace;
}
.language-selector button:hover {
    background-color: #111f9b;
}
.language-selector button.active {
    background-color: #4CAF50; /* Verde para botón activo */
}

.social-links li {
    display: inline-block;
    margin-right: 0.625rem; /* Cambiado de px a rem */
}

.social-links img {
    max-width: 1.875rem; /* Cambiado de px a rem */
    max-height: 1.875rem; /* Cambiado de px a rem */
}

.footer p {
    margin: 0;
}

.descargar-btn {
    display: inline-block;
    padding: 1.25rem 2.5rem; /* Cambiado de px a rem */
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.descargar-btn:hover {
    background-color: #45a049;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 2.1875rem; /* Cambiado de px a rem */
}

a:hover {
    border-bottom: 0.125rem solid white; /* Cambiado de px a rem */
}

/* Estilos para pantallas reducidas (max-width: 1750px) */
@media only screen and (max-width: 1750px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .topbar {
        max-width: 60rem;
        display: flex;
        padding-right: 10rem;
        padding-left: 10rem;
        height: auto;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .topbar-text img {
        max-width: 10rem;
        margin-bottom: 1rem; /* Cambiado de px a rem */
        height: auto;
        border-radius: 0.3125rem;
    }

    .container {
        margin-top: 2rem;
        max-width: 45rem;
        padding: 1.25rem;
        text-align: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .knowledge-section,
    .personal-section,
    .aboutme-section,
    .ambitions-section {
        margin-left: auto;
    }

    .bottom-bar {
        background-color: #252422;
        padding: 0.625rem 0;
        text-align: center;
        max-width: 100%;
        position: relative;
        bottom: 0;
        height: auto;
        border-radius: 4000px;
    }

    .bottom-bar i {
        font-size: 1.5rem;
    }
}

/* Estilos para pantallas reducidas (max-width: 800px) */
@media only screen and (max-width: 800px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .topbar {
        max-width: 60rem;
        display: flex;
        padding-right: 2rem;
        padding-left: 2rem;
        height: auto;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .topbar-text img {
        max-width: 10rem;
        height: auto;
        border-radius: 0.3125rem;
    }

    .container {
        max-width: 30rem;
        padding-right: 3.5rem;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .knowledge-section,
    .personal-section,
    .aboutme-section,
    .ambitions-section {
        margin-left: auto;
    }
}

